* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #141414;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: black;
}

.logo {
  width: 90px;
}

header button {
  background: #e50914;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
}

main {
  padding: 30px 40px;
}

h1 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  background: #222;
  padding: 10px;
  border-radius: 6px;
}

.card video {
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
}


.card:hover {
  transform: scale(1.08);
}
